<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <FT_SettingLabel_AgeOfCaring>Годы переживаний</FT_SettingLabel_AgeOfCaring>
    <FT_SettingTooltip_AgeOfCaring>До какого возраста ребёнка родители будут переживать за его состояние.</FT_SettingTooltip_AgeOfCaring>

    <FT_SettingLabel_CannibalsCareAboutChildrenPain>Каннибалы заботятся о семье</FT_SettingLabel_CannibalsCareAboutChildrenPain>
    <FT_SettingTooltip_CannibalsCareAboutChildrenPain>Если включить, каннибалы будут переживать о своей семье.</FT_SettingTooltip_CannibalsCareAboutChildrenPain>

    <FT_SettingLabel_BloodlustCareAboutChildrenPain>Кровожадные заботятся о семье</FT_SettingLabel_BloodlustCareAboutChildrenPain>
    <FT_SettingTooltip_BloodlustCareAboutChildrenPain>Если включить, кровожадные будут переживать о своей семье.</FT_SettingTooltip_BloodlustCareAboutChildrenPain>

    <FT_SettingLabel_FamilyDiedThought>Психопаты не беспокоятся о смертях членов семьи (требуется перезапуск)</FT_SettingLabel_FamilyDiedThought>
    <FT_SettingTooltip_FamilyDiedThought>Если включить, психопаты не будут переживать о смертях членов своей семьи.</FT_SettingTooltip_FamilyDiedThought>

    <FT_SettingLabel_FamilyDiedSocial>Психопаты совсем не беспокоятся (требуется перезапуск)</FT_SettingLabel_FamilyDiedSocial>
    <FT_SettingTooltip_FamilyDiedSocial>Если включить, психопаты не будут снижать своё отношение к убийце или тому, кто продал их близкого.</FT_SettingTooltip_FamilyDiedSocial>

    <FT_SettingLabel_ChildrenWorry>Дети переживают за родителей</FT_SettingLabel_ChildrenWorry>
    <FT_SettingTooltip_ChildrenWorry>Если включено, дети будут переживать из-за боли и болезней родителей.</FT_SettingTooltip_ChildrenWorry>

    <FT_SettingLabel_ChildMinEmpathyAge>Минимальный возраст для эмпатии</FT_SettingLabel_ChildMinEmpathyAge>
    <FT_SettingTooltip_ChildMinEmpathyAge>Дети моложе этого показателя не будут переживать за родителей.</FT_SettingTooltip_ChildMinEmpathyAge>

    <FT_SettingLabel_ChildMaxEmpathyAge>Максимальный возраст для эмпатии</FT_SettingLabel_ChildMaxEmpathyAge>
    <FT_SettingTooltip_ChildMaxEmpathyAge>Дети старше этого показателя не будут переживать за родителей.</FT_SettingTooltip_ChildMaxEmpathyAge>

    <FT_SettingLabel_ChildrenWorry_PainThreshold>Базовый порог боли родителей</FT_SettingLabel_ChildrenWorry_PainThreshold>
    <FT_SettingTooltip_ChildrenWorry_PainThreshold>С какого уровня боли родителей дети будут за них волноваться.</FT_SettingTooltip_ChildrenWorry_PainThreshold>

    <FT_SettingLabel_ChildrenWorry_SickThreshold>Базовый порог серьёзности болезни родителей</FT_SettingLabel_ChildrenWorry_SickThreshold>
    <FT_SettingTooltip_ChildrenWorry_SickThreshold>С какого уровня серьёзности болезни родителей дети будут за них волноваться.</FT_SettingTooltip_ChildrenWorry_SickThreshold>

    <FT_SettingLabel_ProudForMasterpiece>Гордость за шедевр ребёнка</FT_SettingLabel_ProudForMasterpiece>
    <FT_SettingTooltip_ProudForMasterpiece>Если включено, у родителей будет повышаться настроение за созданный их ребёнком шедевр.</FT_SettingTooltip_ProudForMasterpiece>

    <FT_SettingLabel_ProudForSkillUp>Гордость за повышение навыка</FT_SettingLabel_ProudForSkillUp>
    <FT_SettingTooltip_ProudForSkillUp>Если включено, у родителей будет повышаться настроение за повышение навыка их ребёнком.</FT_SettingTooltip_ProudForSkillUp>
</LanguageData>

